/* set the background color to black when client requests dark mode and invert the colors
   from post by user lewisl9029: https://news.ycombinator.com/item?id=26472246
 */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        filter: hue-rotate(180deg) invert(90%);
    }
}
